body {
  background-image: url("https://images2.alphacoders.com/751/751214.jpg");
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  font-family: 'Noto Sans', sans-serif;
}
.slider {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: 27%;
  top: 29%;
}
.slides{
  display: block;
  width: 8000px;
  height: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide {
  float: left;
  height: 400px;
  width: 900px;
}